.vertical-timeline::before {
  display: none;
}

.vertical-timeline {
  height: 100vh;
}

.vertical-timeline-element {
  margin: 0px;
}

.vertical-timeline-element:last-child {
  padding-bottom: 60px;
}

.vertical-timeline-element-icon img {
  border-radius: 20%;
  padding: 2px;
  background-color: white;
}

/* #7b3a0b
#52290c
#412720
#705703
#7b881e
#8c3a00 */